.QueryContainer{
    padding-top: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    z-index: 1;
}

.Query , .DropDown{
    display: flex;
}
.Query span{
    margin: 10px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    position: relative;
}
.Query span:hover{
    color: rgb(42, 108, 231);
}




@media screen and (max-width:768px){
    .QueryContainer{
        grid-template-columns: 1fr;
    }
    .QueryRepo{
        padding-right: 35px;
    }
}
